@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

body::before {
  content: '';
}

.navbar-custom {
  background-color: #fff !important;
}

.navbar {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navbar .navbar-brand {
  margin-left: 5em;
  font-weight: 600;
  font-size: 1.4rem;
  color: #003e1f;
}

@media screen and (max-width: 970px) {
  .navbar .navbar-brand {
    margin-left: 0.4em;
  }
}

.navbar .navbar-text {
  color: #003e1f;
}

.navbar .navbar-nav {
  margin-left: 2em;
}

@media screen and (max-width: 970px) {
  .navbar .navbar-nav {
    margin-top: 5px;
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar .navbar-nav .active {
  color: #003e1f !important;
}

.navbar .navbar-nav .nav-link {
  font-weight: 500;
  position: relative;
  margin-right: 0.5em;
  color: #003e1f;
}

.navbar .navbar-nav .nav-link .fas {
  margin-right: 0.2em;
  color: #003e1f;
}

.navbar .navbar-nav .nav-link:after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #003e1f;
  transition: width .4s ease;
  -webkit-transition: width .4s ease;
}

.navbar .navbar-nav .nav-link:hover:after {
  width: 100%;
  left: 0;
  background: #003e1f;
}

.content {
  padding-top: 3.6em;
}

.content .img1 {
  background-repeat: no-repeat;
  width: 45vmax;
  max-width: 100%;
  position: absolute;
  right: 3em;
  top: 7em;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .content .img1 {
    opacity: 0.3;
    right: 1em;
  }
}

.content .img2 {
  background-repeat: no-repeat;
  width: 30vmax;
  max-width: 100%;
  position: absolute;
  left: 10em;
  top: 105vh;
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .content .img2 {
    opacity: 0.3;
    left: 3.5em;
    top: 85vh;
    width: 40vmax;
  }
}

.content .welcome {
  position: relative;
}

.content .welcome .welcome-msg {
  padding-top: 3.5em;
}

@media screen and (max-width: 768px) {
  .content .welcome .welcome-msg {
    padding-top: 2em;
  }
}

.content .welcome h1 {
  font-weight: 700;
  font-size: 3rem;
  color: #003e1f;
  position: relative;
}

.content .welcome h5 {
  width: 50%;
  margin-top: 1.5em;
  line-height: 1.5;
}

@media screen and (max-width: 768px) {
  .content .welcome h5 {
    width: 100%;
  }
}

.content .welcome a {
  margin-top: 1em;
  padding: 0.8em 0.8em;
  margin-left: 8em;
}

@media screen and (max-width: 990px) {
  .content .welcome a {
    margin-top: 2em;
    margin-left: 0;
  }
}

.content .about-us {
  position: relative;
  padding-top: 35vh;
  margin-left: 40vw;
  width: 45vw;
}

.content .about-us .about-us-msg {
  /*
            hr {
                border: none;
                width: 50%;
                height: 0.4rem;
                color: #003e1f;
                background-color: #003e1f;
            }
            */
}

.content .about-us .about-us-msg #about-us {
  font-size: 3rem;
  font-weight: 700;
  color: #003e1f;
}

@media screen and (max-width: 768px) {
  .content .about-us .about-us-msg p {
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .content .about-us {
    padding-top: 15vh;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.content .contact-us {
  padding-top: 25vh;
  padding-left: 10em;
  padding-right: 10em;
  margin-bottom: 5em;
}

.content .contact-us #contact-us {
  font-size: 3rem;
  font-weight: 700;
  color: #003e1f;
  margin-bottom: 8vh;
}

.content .contact-us .contact-us-content input[type=text], .content .contact-us .contact-us-content select, .content .contact-us .contact-us-content textarea {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.content .contact-us .contact-us-content label {
  color: #003e1f;
  font-weight: 500;
  font-size: 1.2rem;
}

.content .contact-us .contact-us-content input[type=submit] {
  background-color: #28a745;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.content .contact-us .contact-us-content input[type=submit]:hover {
  background-color: #003e1f;
}

@media screen and (max-width: 768px) {
  .content .contact-us {
    padding-top: 10vh;
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 5em;
  }
}

.map {
  margin-top: 6em;
  margin-bottom: 2em;
}

.map #mapid {
  height: 500px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .map #mapid {
    width: 100%;
    margin: 0 auto;
  }
}

/*
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 200px;

    @media screen and (max-height: 450px) {
        padding-top:15px;
    }

    a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }
}
*/
.footer {
  margin-top: 1em;
  background-color: #003e1f;
}

.footer .container .footer-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .container .footer-sec .footer-content {
  margin: 3em 2em;
}

.footer .container .footer-sec .footer-content .footer-brand {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.8rem;
}

.footer .container .footer-sec .footer-content .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .container .footer-sec .footer-content .footer-list a {
  color: white;
  text-decoration: none;
  margin-top: 1em;
  font-weight: 500;
}

.footer .container .footer-sec .footer-content .footer-list a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer .container .footer-sec .footer-content {
    margin: 0.8em 2em;
  }
}

@media screen and (max-width: 768px) {
  .footer .container .footer-sec {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.copyright {
  color: white;
  background-color: #081c15;
  padding: 10px 0;
}

.copyright p {
  font-size: 0.8rem;
  margin-bottom: 0;
}
/*# sourceMappingURL=styles.css.map */