@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap');

$animate: all 0.2s ease-in-out;

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    &::before {
        content: '';
        
    }
}

.navbar-custom {
    background-color: #fff !important;
}

.navbar {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    
    .navbar-brand {
        margin-left: 2em;
        font-weight: 500;
        font-size: 1.4rem;
        color: #003e1f;
        
        @media screen and (max-width: 970px) {
            margin-left: 0.4em;
        }
    }
    
    .navbar-text {
        color: #003e1f;
    }

    .navbar-nav {
        margin-left: 2em;
        
        @media screen and (max-width: 970px) {
            margin-top: 5px;
            margin-left: 0;
            align-items: center;
        }

        .active {
            color: #003e1f !important;
        }

        .nav-link {
            font-weight: 400;
            position: relative;
            margin-right: 0.5em;
            color: #003e1f;

            .fas {
                margin-right: 0.2em;
                color: #003e1f;
            }
        }
        
        .nav-link:after{
            content: '';
            position: absolute;
            width: 0; height: 3px;
            display: block;
            margin-top: 5px;
            right: 0;
            background: #003e1f;
            transition: width .4s ease;
            -webkit-transition: width .4s ease;
        }
        
        .nav-link:hover:after{
            width: 100%;
            left: 0;
            background: #003e1f;
        }
    }
}

.content {
    margin-top: 3.6em;

    .welcome {
        .welcome-msg {
            margin-top: 2em;
        }

        h1 {
            font-weight: 700;
            font-size: 3rem;
            color: #003e1f;
        }
    }

    .about-us {
        margin-top: 50vh;
        z-index: 2;

        #about-us {
            font-size: 3rem;
            font-weight: 700;
            color: #003e1f;
        }
    }
}

.main-page {
    background-image: url(../img/recycle2.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 45vmax;
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    bottom: 0;
}

.map {
    margin-top: 6em;
    ///margin-left: 160px;

    #mapid {
        height: 500px;
        width: 100%;
    }

    @media screen and (max-width: 576px) {
        #mapid {
            width: 100%;
            margin: 0 auto;
        }
    }
}

/*
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 200px;

    @media screen and (max-height: 450px) {
        padding-top:15px;
    }

    a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }
}
*/

.footer {
    margin-top: 1em;
}